.title {
    font-size: 60px;
    text-align: center;
    color: antiquewhite;
    margin: 15px;
    padding: 15px;
    border-style: dashed;
    border-width: 4px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    border: 5px solid #eab167;
    border-radius: 10px;
}

.section {
    font-size: 45px;
    text-align: center;
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
    border-style: none none solid none;
    border-width: 2px;
}

.text {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}